<form method="post">
    <div class="container mt-5">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p>Do you really want to logout?</p>
            <p>
                <button class="btn-primary" href="/">Yes</button>
                <button class="btn btn-light ml-5 border-dark">No</button>
            </p>
        </div>
    </div>
</form>